### Data processing

In [1]:
import pandas as pd

In [2]:
xl = pd.ExcelFile('data.xlsx')
type(xl)

pandas.io.excel.ExcelFile

In [3]:
df = xl.parse('Full1')
df.head()

,100,110,859|c,859|u
0,Dolet Étienne 1509-1546,NaN,"destral tronc,""destral tronc""",https://crai.ub.edu/sites/default/files/impres...
1,Nájera Esteban de,NaN,àguila escorpí,https://crai.ub.edu/sites/default/files/impres...
2,Manuzio Paolo 1512-1574,NaN,àncora dofí,https://crai.ub.edu/sites/default/files/impres...
3,Jansson Jan 1588-1664,NaN,NaN,https://crai.ub.edu/sites/default/files/impres...
4,Blaeu Joan 1596-1673,NaN,esfera Temps Hèrcules,https://crai.ub.edu/sites/default/files/impres...

In [4]:
df['name'] = df[100].combine_first(df[110])
df.drop(110, axis=1, inplace=True)
df.drop(100, axis=1, inplace=True)
df.head()

,859|c,859|u,name
0,"destral tronc,""destral tronc""",https://crai.ub.edu/sites/default/files/impres...,Dolet Étienne 1509-1546
1,àguila escorpí,https://crai.ub.edu/sites/default/files/impres...,Nájera Esteban de
2,àncora dofí,https://crai.ub.edu/sites/default/files/impres...,Manuzio Paolo 1512-1574
3,NaN,https://crai.ub.edu/sites/default/files/impres...,Jansson Jan 1588-1664
4,esfera Temps Hèrcules,https://crai.ub.edu/sites/default/files/impres...,Blaeu Joan 1596-1673

In [5]:
df = df.rename(columns={'859|c': 'tag', '859|u': 'filepath'})
df.head()

,tag,filepath,name
0,"destral tronc,""destral tronc""",https://crai.ub.edu/sites/default/files/impres...,Dolet Étienne 1509-1546
1,àguila escorpí,https://crai.ub.edu/sites/default/files/impres...,Nájera Esteban de
2,àncora dofí,https://crai.ub.edu/sites/default/files/impres...,Manuzio Paolo 1512-1574
3,NaN,https://crai.ub.edu/sites/default/files/impres...,Jansson Jan 1588-1664
4,esfera Temps Hèrcules,https://crai.ub.edu/sites/default/files/impres...,Blaeu Joan 1596-1673

In [6]:
import unicodedata

def strip_accents(text):
    try:
        text = unicode(text, 'utf-8')
    except NameError:
        pass
    text = unicodedata.normalize('NFD', text)\
           .encode('ascii', 'ignore')\
           .decode("utf-8")
    return str(text)

def f1(x):
    return list(set(list(filter(None, strip_accents(x).lower().replace(',',' ').replace('"',' ').replace(' de ',' ').replace(' del ',' ').split(' ')))))

df['tag'] = df['tag'].apply(lambda x: f1(x) if pd.notnull(x) else x)

In [7]:
df.head()

,tag,filepath,name
0,"[tronc, destral]",https://crai.ub.edu/sites/default/files/impres...,Dolet Étienne 1509-1546
1,"[escorpi, aguila]",https://crai.ub.edu/sites/default/files/impres...,Nájera Esteban de
2,"[ancora, dofi]",https://crai.ub.edu/sites/default/files/impres...,Manuzio Paolo 1512-1574
3,NaN,https://crai.ub.edu/sites/default/files/impres...,Jansson Jan 1588-1664
4,"[esfera, hercules, temps]",https://crai.ub.edu/sites/default/files/impres...,Blaeu Joan 1596-1673

In [8]:
df['filepath'] = df['filepath'].apply(lambda x: x.replace('"','').split(','))
df.head()

,tag,filepath,name
0,"[tronc, destral]",[https://crai.ub.edu/sites/default/files/impre...,Dolet Étienne 1509-1546
1,"[escorpi, aguila]",[https://crai.ub.edu/sites/default/files/impre...,Nájera Esteban de
2,"[ancora, dofi]",[https://crai.ub.edu/sites/default/files/impre...,Manuzio Paolo 1512-1574
3,NaN,[https://crai.ub.edu/sites/default/files/impre...,Jansson Jan 1588-1664
4,"[esfera, hercules, temps]",[https://crai.ub.edu/sites/default/files/impre...,Blaeu Joan 1596-1673

In [9]:
df = df[df['tag'].notna()]
df = df.reset_index(drop=True)
df.head()

,tag,filepath,name
0,"[tronc, destral]",[https://crai.ub.edu/sites/default/files/impre...,Dolet Étienne 1509-1546
1,"[escorpi, aguila]",[https://crai.ub.edu/sites/default/files/impre...,Nájera Esteban de
2,"[ancora, dofi]",[https://crai.ub.edu/sites/default/files/impre...,Manuzio Paolo 1512-1574
3,"[esfera, hercules, temps]",[https://crai.ub.edu/sites/default/files/impre...,Blaeu Joan 1596-1673
4,"[guerrer, brac, escut, ciutat, arbre, minerva,...",[https://crai.ub.edu/sites/default/files/impre...,Colomiez Arnaud -1666

In [10]:
def f_rename(urls):
    new = list()
    for url in urls:
        new.append(url[url.rfind("/")+1:])
    return new

df['filepath'] = df['filepath'].apply(lambda urls: f_rename(urls))
df.head()

,tag,filepath,name
0,"[tronc, destral]","[10247993a.jpg, 10247993b.jpg]",Dolet Étienne 1509-1546
1,"[escorpi, aguila]",[0127615a.jpg],Nájera Esteban de
2,"[ancora, dofi]","[0076522a.jpg, 0076522b.jpg, 0076522c.jpg]",Manuzio Paolo 1512-1574
3,"[esfera, hercules, temps]","[0009492a.jpg, 0009492b.jpg]",Blaeu Joan 1596-1673
4,"[guerrer, brac, escut, ciutat, arbre, minerva,...","[0000005a.jpg, 11601693a.jpg]",Colomiez Arnaud -1666

In [11]:
df_split = pd.DataFrame(columns=['tag', 'filepath', 'autor'])
count = 0
for index, row in df.iterrows():
    for url in row['filepath']:
        df_split.loc[count] = [row['tag'], url, row['name']]
        count+=1
df = df_split
df.head()

                 tag       filepath                      autor
0   [tronc, destral]  10247993a.jpg  Dolet  Étienne  1509-1546
1   [tronc, destral]  10247993b.jpg  Dolet  Étienne  1509-1546
2  [escorpi, aguila]   0127615a.jpg         Nájera  Esteban de
3     [ancora, dofi]   0076522a.jpg  Manuzio  Paolo  1512-1574
4     [ancora, dofi]   0076522b.jpg  Manuzio  Paolo  1512-1574

In [12]:
import numpy as np
import itertools
from collections import Counter
from matplotlib import pyplot as plt

tags = df['tag'].to_numpy()
tags = list(itertools.chain.from_iterable(tags))

tags_counts = Counter(tags)
df_tags = pd.DataFrame.from_dict(tags_counts, orient='index')
df_tags.columns = ['count']
df_tags = df_tags.sort_values(by='count', ascending=False)
print(len(df_tags))
df_tags.head(50)

599

            count
monograma     509
escut         308
flor          262
serp          258
ma            254
lis           227
inicial       225
dona          224
aguila        211
lleo          210
corona        200
arbre         188
globus        164
sol           158
flama         157
creu          154
sant          146
jesucrist     129
minerva       129
llibre        128
angel         123
putto         122
olivera       117
ancora        114
griu          111
pau           104
home          104
esfera         87
salamandra     86
fama           83
fenix          82
ceptre         82
cornucopia     81
compas         79
caduceu        75
cercle         74
estrella       70
trompeta       70
dofi           69
mercuri        67
nuvol          63
branca         62
colom          61
cigonya        61
fortuna        60
abella         60
unicorn        56
temps          56
figura         55
palmera        55

In [13]:
df.to_csv('pre_process.csv', index=False, encoding='utf-8')

In [14]:
from sklearn.preprocessing import MultiLabelBinarizer

df['tag'] = df['tag'].apply(lambda tags: tuple(tags))

mlb = MultiLabelBinarizer()
mlb.fit(df['tag'])
df["tag_bina"] = [[] for _ in range(len(df))]
df['tag_bina'] = mlb.transform(df['tag']).tolist()
print(len(df['tag_bina'][0]))
df.head()

599

,tag,filepath,autor,tag_bina
0,"(tronc, destral)",10247993a.jpg,Dolet Étienne 1509-1546,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,"(tronc, destral)",10247993b.jpg,Dolet Étienne 1509-1546,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,"(escorpi, aguila)",0127615a.jpg,Nájera Esteban de,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
3,"(ancora, dofi)",0076522a.jpg,Manuzio Paolo 1512-1574,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,"(ancora, dofi)",0076522b.jpg,Manuzio Paolo 1512-1574,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [15]:
df = df.drop_duplicates(subset='filepath', keep="last")
df = df.reset_index(drop=True)

df.to_pickle('data_processing.pkl')